{% extends "registration/base-registration.html" %}
{% load static %}


{% block success_message %}
			
    {% if messages %}
    {% for message in messages %}

            <div class="alert alert-success" role="alert">
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            </div>
    {% endfor %}
    {% endif %} 
{% endblock success_message %}

{% block form %}
<div class="main-content d-flex flex-wrap flex-row justify-content-around">
				
    <div class="login100-pic js-tilt" data-tilt>
        <img class="p-t-10" src="{% static 'registration/images/img-01.png' %} " alt="IMG">
    </div>


    <form method="post" class="register-form login100-form validate-form">
            
        {% csrf_token %}
    
        <span class="login100-form-title">
            ورود
        </span>
        <!-- Email  -->
        <div class="wrap-input100 validate-input " data-validate = "">
            <div class="input-group ">
                <input  class="input100  px-5 {% if form.username.errors %} border border-danger {% endif %} " type="email" name="{{ form.username.name }}" id="{{form.username.auto_id}}" placeholder="ایمیل">
                <span class="focus-input100"></span>
                <span class="symbol-input100 px-4">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>
            <span class="error text-danger">{{form.username.errors}}</span>
        </div>
        
        <!-- Password  -->
        <div class="wrap-input100 validate-input" data-validate = "Password is required">
            <div class="input-group">
                <input class="input100 px-5 {% if form.password.errors %} border border-danger {% endif %}" type="password" name="{{ form.password.name }}" placeholder="گذرواژه">
                <span class="focus-input100"></span>
                <span class="symbol-input100 px-4">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            <span class="error text-danger">{{form.password.errors}}</span>
        </div>

        <!-- Errors  -->
        <span class="error text-danger">
            <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            </ul>
        {% endfor %}
        </span>
    
        <!-- Submit Button  -->
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                ورود
            </button>
        </div>

        <!-- Forgot Password  -->
        <div class="text-center p-t-12">
            <span class="txt1">
                فراموشی
            </span>
            <a class="txt2" href="#">
            گذواژه
            </a>
        </div>

        <!-- Sign-up Page  -->
        <div class="text-center p-t-136">
            <a class="txt2" href="{% url "accounts:sign-up" %}">
            هنوز حسابی ندارید؟ ثبت نام کنید
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
        </div>
    </form>
</div >

{% endblock form %}