{% extends "article/base.html" %}
{% load custom_filters %}


{% block title %}{{object.title}}{% endblock title %}



{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "courses:course-list" %}">دوره ها</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{object.title}}</li>
{% endblock breadcrumb %}


{% block breadcrumb_title %}
    {% firstof video_title object.title  %}
{% endblock breadcrumb_title %}

{% block content %}

<div class="content-90 mx-auto d-flex flex-wrap-reverse   ">

    

        <!-- main content-->
        <div class="main col-lg-8 ">
            <div class="card mx-3 my-3">
               
                    {% if is_video_page  %}
                        {% comment %} TODO: یا دوره رو کاربر خریده بود {% endcomment %}
                                <video
                                style="position:relative;width:100%;height:100%;"
                                id="my-video"
                                class="video-js"
                                controls
                                preload="auto"
                                poster="{{object.image.url}}"
                                data-setup="{}"
                            >
                                <source src="{{video_file.url}}" type="video/mp4" />
                            </video>
                            <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
                    {% comment %} <video controls>
                        <source src="{{video_file.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video> {% endcomment %}
                    {% else %}
                        <img class="card-img-top" src="{{object.image.url}}" alt="{{object.image.title}}">
                    {% endif %} 
               
                <div class="card-body">

                  <div class="card-details d-flex justify-content-between align-items-center">
                    
                    <span class="course-detail">
                        {% if is_video_page  %}
                            {% if video_description  %}{{video_description|linebreaks}}{% endif %}
                        {% else %}
                            {{ object.description|linebreaks}}
                        {% endif %}
                    </span>
                    
                    </div>
                </div>
                
                    
                <ul class="list-group list-group-flush">

                    {% join_two_lists object.quizes.all object.videos.all as video_and_exam_list %}

                    {% for video in video_and_exam_list|dictsort:"position" %}
                        {% if  video.duration %}
                            {% widthratio video.duration.seconds 3600 1 as hours %}
                            {% widthratio video.duration.seconds 60 1 as minutes %} 
                            {% modulo video.duration.seconds 60 as seconds %}{% comment %} custom tag {% endcomment %}
                        {% endif %}
                    
                        {% if  video.publish %}
                            <li class="episode-container list-group-item p-4 d-flex flex-wrap justify-content-between"> 
                                <div class="episode_detail d-flex">
                                    <p class="episode_counter mx-2"> {{ forloop.counter0 }} </p>
                                    {% if video.type == 'quiz' %}<i class="bi bi-file-earmark-text"></i>{% else %}<i class="bi bi-play-circle"></i>{% endif %}
                                    
                                    {% if  not video.is_free and  not object.is_free and  not user_has_this_course  %}{% comment %} if video or exam is not free and course is not free too {% endcomment %}

                                        {% if video.type == 'quiz' %}
                                                <!-- quiz -->
                                                <div class="episode_link mx-2 quiz" >{{video.title}}</div>
                                        {% else %}
                                                <!-- video -->
                                                <div class="episode_link mx-2 video" >{{video.title}}</div>
                                                {% comment %} <a href="{% url 'courses:video-detail' object.slug video.pk video.slug %}" class="episode_link mx-2" style="text-decoration:none">{{video.title}}</a> {% endcomment %}
                                        {% endif %}

                                    {% else %}
                                       {% if video.type == 'quiz' %}
                                                <!-- quiz -->
                                                <a href="{% url 'courses:quiz'  video.pk  %}" class="episode_link mx-2 quiz" style="text-decoration:none">{{video.title}}</a>

                                               {% comment %} {% if not user_has_this_course %}
                                                    <div class="episode_link mx-2 quiz" style="text-decoration:none">{{video.title}}</div>
                                               {% else %}
                                                    <a href="{% url 'courses:quiz'  video.pk  %}" class="episode_link mx-2 quiz" style="text-decoration:none">{{video.title}}</a>
                                               {% endif %}  {% endcomment %}
                                                
                                        {% else %}
                                                <!-- video -->
                                                <a href="{% url 'courses:video-detail' object.slug video.pk video.slug %}" class="episode_link mx-2 video" style="text-decoration:none">{{video.title}}</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="episode_detail d-flex">
                                    {% if  not video.is_free and  not object.is_free and not user_has_this_course  %}
                                    <i class="bi bi-lock" style="color:red"></i>
                                        {% comment %} <p class="episode_is_free badge bg-warning text-dark mx-2"> قفل </p> {% endcomment %}
                                    {% endif %}

                                    {% if video.type != 'quiz' %}
                                    <p class="episode_duration mx-2" >
                                        {% if  hours != '0'%}{{ hours }}:{% endif %}{{ minutes }}:{{ seconds }}
                                     </p>
                                    {% endif %}

                                </div>
                            </li>
                        {% endif %}
                   
                    {% endfor %}
                </ul>
               
              </div> 
        </div> 

        
    <!-- sidebar content-->
    <aside class="col-lg-4 col-12">
        {% include "article/sidebar.html" %}
    </aside>

</div>








<div class="card content-90 mx-auto my-5 bg-light ">

    <div class="card-title d-flex justify-content-between align-items-center px-3 mt-3">
      <span class="title carousel-text-title   list-all btn btn-primary bg-gradient text-white link-light" > دوره های مرتبط </span>
      
    </div>
    <div class="gallery js-flickity    mt-2 bg-light"
      data-flickity-options='{ "groupCells": true,  "adaptiveHeight": false}'
      >{% comment %} "freeScroll": true {% endcomment %}
      {% for course in object.SuggestedCourses.all %}
        
        <div class="gallery-cell col-lg-3 col-md-4 col-sm-6 col-12 ">
          <div class="card  mx-2 mb-3" style="border-radius:16px">   
            <img class="card-img-top p-2" style="border-radius:15px; max-height:12rem" src="{{course.image.url}}" alt="Card image cap">
            <div class="card-body  d-flex flex-column justify-content-around flex-wrap ">
              <h5 class="card-title"><a class="carousel-card-title-link lh-base" href="{% url 'courses:course-detail' course.slug %}" > {{course.title}} </a> </h5>
              {% comment %} <p class="card-text">{{course.description|truncatewords:15}}</p> {% endcomment %}
              <div class="card-details d-flex   justify-content-between align-items-center ">
                  <div class="custom-btn-course-status"> 
                      <i class="fa fa-check"></i>
                        <span class="publish-status">{% if course.publish_status == "completed" %} <i class="bi bi-check-circle text-success"> تکمیل ضبط </i> {% else %} <i class="bi bi-circle in-progress-color ">درحال ضبط </i> {% endif %}</span> 
                  </div>
                <span class="author"> {% firstof  course.author.get_full_name course.author.username %}</span>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center" style="background-color: initial;"    >
              
              <span class="price">{% if course.is_free %}رایگان{% else %}{{course.price }} تومان{% endif %}</span>
            </div>
          </div>  
        </div>
      
      {% endfor %}

    </div>
  </div>













<script>
    flowplayer.cloud.then(function() {
      // this is now the same synchronous environment
      // but we know all cloud assets are ready
      // since this was the target of the cloud loader
      // we just want a reference to the Flowplayer instance
      var video = flowplayer("#async-player")
      console.log('flowplayer instance', video);
    });
    </script>

{% endblock content %}



