{% extends "article/base.html" %}


{% block title %}خانه{% endblock title %}
{% block breadcrumb %}
    <li class="breadcrumb-item">دوره ها</li>
{% endblock breadcrumb %}

{% block breadcrumb_title %} {% if search_title %}
        جست جو برای 
        {{search_title}} 
        {% else %} دوره ها {% endif %} 
{% endblock breadcrumb_title %}
 
{% block content %}

<div class="content content-90  mx-auto ">
    <div class="d-flex flex-wrap  py-3  mb-4   " >  {% comment %} justify-content-around justify-content-md-between  {% endcomment %}
        
      {% for course in courses  %}
        <div class="col-lg-4  d-flex  "> {% comment %} removing d-flex : cards height wont be equal  {% endcomment %}
          <div class="card  mx-3 my-3">   
                <img class="card-img-top" src="{{course.image.url}}" alt="Card image cap">
                <div class="card-body d-flex flex-column justify-content-around flex-wrap ">
                  <h5 class="card-title"><a href="{% url 'courses:course-detail' course.slug %}" > {{course.title}} </a> </h5>
                  {% comment %} <p class="card-text">{{course.description|truncatewords:15}}</p> {% endcomment %}
                  <div class="card-details d-flex justify-content-between align-items-center">
                    <div class="custom-btn-course-status "> 
                         <i class="fa fa-check"></i>
                          <span class="publish-status">{% if course.publish_status == "completed" %} <i class="bi bi-check-circle text-success"> تکمیل ضبط </i> {% else %} <i class="bi bi-circle in-progress-color ">درحال ضبط </i> {% endif %}</span> 
                    </div>
                    <span class="author"> {% firstof  course.author.get_full_name course.author.username %}</span>
                </div>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center p-3 bg-white">
                <span><i class="fa fa-clock course-duration"></i> {{course.time_of_course}} </span>
                  <small class="text-muted price">{% if course.is_free %}رایگان{% else %}{{course.price }} تومان{% endif %}</small>
                </div>
          </div> 
        
              </div> 
      {%empty%}
    
     
      <div class="alert alert-danger mx-auto" role="alert">
        
        پستی مرتبط با 
        
        {{ search_title}} 
       
       پیدا نشد
      </div>
    
      {% endfor %}
      
        
    </div>


{% if page_obj %}
  {% include "article/pagination.html" %}
{% endif %}


</div>


{% endblock content %}
