<div class="card mx-3 my-3">
    <div class="card-header bg-white text-secondary d-flex justify-content-between p1"> قیمت این دوره:
        <span class="text-dark">  {% if object.is_free %}رایگان{% else %}{{course.price }} تومان </span>{% endif %}
    </div>
    
    <div class="card-body">
        <ul class="custom-cart-detail p-1 ">
            <li class="d-flex justify-content-between"><i class="bi bi-person-fill"> مدرس دوره  : </i> <span>{% firstof  course.author.get_full_name course.author.username %}</span></li>
            <li class="d-flex justify-content-between"><i class="bi bi-clock-fill"> مدت  دوره : </i> <span>{{object.time_of_course}} </span></li>
            <li class="d-flex justify-content-between"><i class="bi bi-question-octagon-fill"> وضعیت دوره : </i> <span class="in-progress">  {% if course.publish_status == "completed" %}تکمیل ضبط{% else %}درحال ضبط{% endif %} </span></li>
            {% comment %} <li><i class="fa fa-star"></i> دسترسی رایگان برای کاربران ویژه </li> {% endcomment %}
        </ul>
      <div class="card-details d-flex justify-content-between align-items-center">
      
        </div>
      <button type="button" class="btn btn-primary btn-lg w-100">
        {% if user.is_authenticated %}مشاهده دوره{% else %}ابتدا وارد حساب کاربری خود شوید{% endif %}
      </button>

    </div>
   
  </div> 