
* {
    font-family: IRANSans;
    text-decoration: none!important; 
}
a {
    text-decoration: none!important; 
    color: inherit!important;
}
body {
    direction: rtl;
}


/* .card-body{
    min-height: 175px;
} */

.card-details {
    margin-top: 1.3rem;
}

.content-90 {
    width: 90%!important;;
}
.breadcrumb-title{
    font-size: 2rem;
}

.custom-breadcrumb {
    border-bottom: 1px solid #c4d5e6;
}
.custom-cart-detail li{
    padding: 5px 0px;
    color: #56626E;
}

.custom-cart-detail li span{
    color: #000000;
}
.custom-cart-detail li .in-progress {
    color: #36C9F4;
}

.in-progress-color {
    font-size: 14px !important;
    color: #00b2da;
}

.episode-container:hover {
    background-color: #f5f5f5;
}

/* .my-video-dimensions {
    width: 100%!important;
    height: 100%!important;
} */




.form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label {
    cursor: default;
    opacity: 1!important;
}
.form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: 1!important;
}




.incorrect-form-check-input:checked {
    background-color: #dc3545!important;
    border-color: #dc3545!important;
}


.correct-form-check-input {
    background-color: #198754!important;
    border-color: #198754!important;
}
.correct-form-check-input:checked {
    background-color: #198754!important;
    border-color: #198754!important;
}